<section class="breadcrumb-section pt-0">
  <div class="container-fluid-lg">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb-contain">
          <h2>Checkout</h2>
          <nav>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="index.html">
                  <i class="fa-solid fa-house"></i>
                </a>
              </li>
              <li class="breadcrumb-item active">Checkout</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout section Start -->
<section class="checkout-section-2 section-b-space">
  <div class="container-fluid-lg">
    <div class="row g-sm-4 g-3">
      <div class="col-lg-8">
        <div class="left-sidebar-checkout">
          <div class="checkout-detail-box">
            <ul>
              <li>
                <div class="checkout-icon">
                  <lord-icon
                    target=".nav-item"
                    src="https://cdn.lordicon.com/ggihhudh.json"
                    trigger="loop-on-hover"
                    colors="primary:#121331,secondary:#646e78,tertiary:#0baf9a"
                    class="lord-icon"
                  >
                  </lord-icon>
                </div>
                <div class="checkout-box">
                  <div class="checkout-title">
                    <h4>Địa Chỉ Giao Hàng</h4>
                  </div>

                  <div class="checkout-detail">
                    <div class="row g-4">
                      <div class="col-xxl-6 col-lg-12 col-md-6">
                        <div class="delivery-address-box">
                          <div>
                            <ul class="delivery-address-detail">
                              <li>
                                <p class="text-content">
                                  <span class="text-title">Địa Chỉ: </span
                                  >{{userData.address}}
                                </p>
                              </li>
                              <li>
                                <h6 class="text-content mb-0">
                                  <span class="text-title">Số Điện Thoại: </span
                                  >{{userData.phoneNumber}}
                                </h6>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="checkout-icon">
                  <lord-icon
                    target=".nav-item"
                    src="https://cdn.lordicon.com/qmcsqnle.json"
                    trigger="loop-on-hover"
                    colors="primary:#0baf9a,secondary:#0baf9a"
                    class="lord-icon"
                  >
                  </lord-icon>
                </div>
                <div class="checkout-box">
                  <div class="checkout-title">
                    <h4>Payment Option</h4>
                  </div>

                  <div class="checkout-detail">
                    <div
                      class="accordion accordion-flush custom-accordion"
                      id="accordionFlushExample"
                    >
                      <div class="accordion-item">
                        <div class="accordion-header" id="flush-headingFour">
                          <div
                            class="accordion-button collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour"
                          >
                            <div class="custom-form-check form-check mb-0">
                              <label class="form-check-label" for="cash">
                                <input
                                  class="form-check-input mt-0"
                                  type="radio"
                                  name="paymentMethod"
                                  id="cash"
                                  ng-model="selectedPaymentMethod"
                                  value="COD"
                                  checked
                                />
                                Thanh Toán Khi Nhận Hàng (COD)
                              </label>
                            </div>
                          </div>
                        </div>
                        <!-- <div id="flush-collapseFour" class="accordion-collapse collapse show"
                                                      data-bs-parent="#accordionFlushExample">
                                                      <div class="accordion-body">
                                                          <p class="cod-review">Thanh toán qua SMS Pay Link. Tiền mặt có
                                                              thể không được chấp nhận ở các khu vực hạn chế COVID.
                                                              <a href="javascript:void(0)">Tìm hiểu thêm.</a>
                                                          </p>
                                                      </div>
                                                  </div> -->
                      </div>

                      <div class="accordion-item">
                        <div class="accordion-header" id="flush-headingTwo">
                          <div
                            class="accordion-button collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo"
                          >
                            <div class="custom-form-check form-check mb-0">
                              <label class="form-check-label" for="banking">
                                <input
                                  class="form-check-input mt-0"
                                  type="radio"
                                  name="paymentMethod"
                                  id="banking"
                                  ng-model="selectedPaymentMethod"
                                  value="NetBanking"
                                />
                                Ngân Hàng Trực Tuyến
                              </label>
                            </div>
                          </div>
                        </div>
                        <!-- <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                                      data-bs-parent="#accordionFlushExample">
                                                      <div class="accordion-body">
                                                          <p class="cod-review">Thanh toán qua SMS Pay Link. Tiền mặt có
                                                              thể không được chấp nhận ở các khu vực hạn chế COVID.
                                                              <a href="javascript:void(0)">Tìm hiểu thêm.</a>
                                                          </p>
                                                      </div>
                                                  </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="right-side-summery-box">
          <div class="summery-box-2">
            <div class="summery-header">
              <h3>Order Summery</h3>
            </div>

            <ul class="summery-contain">
              <li ng-repeat="product in lstProductOder">
                <img
                  ng-src="{{product.productDetails.imgURL}}"
                  class="img-fluid blur-up lazyloaded checkout-image"
                  alt=""
                />
                <h4>
                  {{product.productDetails.packagingunitname}}
                  {{product.productDetails.milktypename}}
                  {{product.productDetails.milkbrandname}}
                  {{product.productDetails.milktastename}}
                  {{product.productDetails.capacity}}
                  {{product.productDetails.unit}}
                  <span>x {{product.quantity}}</span>
                </h4>
                <h4 class="price">
                  {{(product.productDetails.price * product.quantity)|
                  number:''}} VNĐ
                </h4>
              </li>
            </ul>
            <style>
              .summery-contain {
                max-height: 300px;
                /* Giới hạn chiều cao để hiển thị khoảng 3 sản phẩm */
                overflow-y: auto;
                /* Thêm thanh cuộn dọc */
              }
            </style>
            <div class="summery-contain">
              <div class="coupon-cart">
                <h6 class="text-content mb-2">Phiếu giảm giá</h6>
                <div class="mb-3 coupon-box input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Nhập mã giảm giá vào đây..."
                    ng-model="vouchercode"
                  />
                  <button class="btn-apply" ng-click="checkvoucher()">
                    Áp dụng
                  </button>
                </div>
              </div>
              <ul>
                <li>
                  <h4>Tổng Tiền</h4>
                  <h4 class="price">{{calculateTotal() | number:''}} VNĐ</h4>
                </li>
                <li>
                  <h4>Giảm</h4>
                  <h4 class="price">{{discountmoney | number:''}} VNĐ</h4>
                </li>
                <li>
                  <h4>Số Tiên Phải Thanh Toán</h4>
                  <h4 class="price">{{totalamount | number:''}} VNĐ</h4>
                </li>
              </ul>
            </div>
            <!-- <ul class="summery-total">
                              <li>
                                  <h4>Subtotal</h4>
                                  <h4 class="price">$111.81</h4>
                              </li>
  
                              <li>
                                  <h4>Shipping</h4>
                                  <h4 class="price">$8.90</h4>
                              </li>
  
                              <li>
                                  <h4>Tax</h4>
                                  <h4 class="price">$29.498</h4>
                              </li>
  
                              <li>
                                  <h4>Coupon/Code</h4>
                                  <h4 class="price">$-23.10</h4>
                              </li>
  
                              <li class="list-total">
                                  <h4>Total (USD)</h4>
                                  <h4 class="price">$19.28</h4>
                              </li>
                          </ul> -->
          </div>

          <!-- <div class="checkout-offer">
                          <div class="offer-title">
                              <div class="offer-icon">
                                  <img src="../assets/images/inner-page/offer.svg" class="img-fluid" alt="">
                              </div>
                              <div class="offer-name">
                                  <h6>Available Offers</h6>
                              </div>
                          </div>
  
                          <ul class="offer-detail">
                              <li>
                                  <p>Combo: BB Royal Almond/Badam Californian, Extra Bold 100 gm...</p>
                              </li>
                              <li>
                                  <p>combo: Royal Cashew Californian, Extra Bold 100 gm + BB Royal Honey 500 gm</p>
                              </li>
                          </ul>
                      </div> -->

          <button
            class="btn theme-bg-color text-white btn-md w-100 mt-4 fw-bold"
            ng-click="createInvoice()"
          >
            Tạo Hoá Đơn
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
