<div>
</section>
 <section class="product-section">
    <div class="container-fluid-lg">
      <div class="title title-flex-2">
        <h2>Tất Cả Sản Phẩm</h2>
        <ul class="nav nav-tabs tab-style-color-2 tab-style-color" id="myTab">
          <li class="nav-item">
          </li>
        </ul>
      </div>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="all" role="tabpanel">
          <div class="row g-8">
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 wow fadeInUp" ng-repeat="product in products ">
              <div class="product-box-4">
                <div class="product-image">
                  <div class="label-flex">
                    <button class="btn p-0 wishlist btn-wishlist notifi-wishlist">
                    </button>
                  </div>

                  <a ng-click="viewDetail(product)">
                    <img ng-src="{{ product.imgUrl }}" alt="{{product.milktypename}}" class="img-fluid" />
                  </a>

                  <ul class="option">
                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View">
                      <a ng-click="viewDetail(product)" data-bs-toggle="modal" data-bs-target="#view">
                        <i class="iconly-Show icli"></i>
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="product-detail">

                  <a ng-click="viewDetail(product)">
                    <h5 class="name">
                      {{product.milktypename + " - " + product.milkbrandname}}
                    </h5>
                    <h5 class="name">{{product.milkbrandname}}</h5>
                  </a>


                  <div class="price-qty">
                    <h5 class="price theme-color">
                      {{product.minPrice | currency:"₫":0}} - {{product.maxPrice | currency:"₫":0}}
                    </h5>
                    <button ng-click="viewDetail(product)"
                      class="btn theme-bg-color fw-bold text-white d-flex align-items-center justify-content-center p-2 rounded-circle shadow-sm hover-shadow-lg transition-all"
                      style="font-size: 14px; height: 40px; width: 40px;">
                      <!-- Biểu tượng giỏ hàng -->
                      <i class="fas fa-shopping-cart"></i>
                  </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
</div>
<div style="margin: 35px; padding: 10px;"></div>
