<div ng-controller="LoginController">
  <section class="breadcrumb-section pt-0">
    <div class="container-fluid-lg">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumb-contain">
            <h2 class="mb-2">Log In</h2>
            <nav>
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                  <a href="index.html">
                    <i class="fa-solid fa-house"></i>
                  </a>
                </li>
                <li class="breadcrumb-item active">Log In</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcrumb Section End -->

  <!-- Log In Section Start -->
  <section class="log-in-section background-image-2 section-b-space">
    <div class="container-fluid-lg w-100">
      <div class="row">
        <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
          <div class="image-contain">
            <img
              src="../assets/images/inner-page/log-in.png"
              class="img-fluid"
              alt="Log In Image"
            />
          </div>
        </div>

        <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
          <div class="log-in-box">
            <div class="log-in-title">
              <h3>Welcome To SuaFpoly</h3>
              <h4>Log In Your Account</h4>
            </div>

            <div class="input-box">
              <form class="row g-4" ng-submit="login()">
                <div class="col-12">
                  <div class="form-floating theme-form-floating log-in-form">
                    <input
                      type="text"
                      ng-model="user.username"
                      class="form-control"
                      id="username"
                      placeholder="Username"
                      required
                    />
                    <label for="username">Username</label>
                  </div>
                </div>

                <div class="col-12">
                  <div
                    class="form-floating theme-form-floating log-in-form position-relative"
                  >
                    <input
                      type="password"
                      ng-model="user.password"
                      class="form-control"
                      id="password"
                      placeholder="Password"
                      required
                    />
                    <label for="password">Password</label>
                    <i
                      class="fa fa-eye position-absolute end-0 top-50 translate-middle-y me-3"
                      id="togglePassword"
                      style="cursor: pointer"
                    ></i>
                  </div>
                </div>
                <div class="col-12">
                  <div class="forgot-box">
                    <a href="/forgot" class="forgot-password"
                      >Forgot Password?</a
                    >
                  </div>
                </div>

                <div class="col-12">
                  <button
                    type="submit"
                    class="btn btn-animation w-100 justify-content-center"
                  >
                    Log In
                  </button>
                </div>
              </form>
            </div>

            <div class="other-log-in">
              <h6>or</h6>
            </div>

            <div class="sign-up-box">
              <h4>Don't have an account?</h4>
              <a href="/sign-up">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  document
    .getElementById("togglePassword")
    .addEventListener("click", function () {
      const passwordInput = document.getElementById("password");
      const type =
        passwordInput.getAttribute("type") === "password" ? "text" : "password";
      passwordInput.setAttribute("type", type);

      // Toggle icon
      this.classList.toggle("fa-eye");
      this.classList.toggle("fa-eye-slash");
    });
</script>
