<section class="breadcrumb-section pt-0">
  <div class="container-fluid-lg">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb-contain">
          <h2>Trang tổng quan người dùng</h2>
          <nav>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="index.html">
                  <i class="fa-solid fa-house"></i>
                </a>
              </li>
              <li class="breadcrumb-item active">Trang tổng quan người dùng</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- User Dashboard Section Start -->
<section class="user-dashboard-section section-b-space">
  <div class="container-fluid-lg">
    <div class="row">
      <div class="col-xxl-3 col-lg-4">
        <div class="dashboard-left-sidebar">
          <div class="close-button d-flex d-lg-none">
            <button class="close-sidebar">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <div class="profile-box">
            <div class="cover-image">
              <img
                src="../assets/images/inner-page/cover-img.jpg"
                class="img-fluid blur-up lazyload"
                alt=""
              />
            </div>

            <div class="profile-contain">
              <div class="profile-image">
                <div class="position-relative">
                  <img
                    src="../assets/images/inner-page/user/1.jpg"
                    class="blur-up lazyload update_img"
                    alt=""
                  />
                  <div class="cover-icon">
                    <i class="fa-solid fa-pen">
                      <input type="file" onchange="readURL(this,0)" />
                    </i>
                  </div>
                </div>
              </div>

              <div class="profile-name">
                <h3>{{userData.fullName}}</h3>
                <h6 class="text-content">{{userData.email}}</h6>
              </div>
            </div>
          </div>

          <ul
            class="nav nav-pills user-nav-pills"
            id="pills-tab"
            role="tablist"
          >
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="pills-dashboard-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-dashboard"
                type="button"
              >
                <i data-feather="home"></i> Bảng điều khiển
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-order-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-order"
                type="button"
                ng-click="getInvoicesByUser()"
              >
                <i data-feather="shopping-bag"></i>Hóa Đơn Của Tôi
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                      class="nav-link"
                      id="pills-log-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#pills-log"
                      type="button"
                      ng-click="getInvoicesByUser()"
              >
                <i data-feather="shopping-bag"></i>lịch sủa hệ thống
              </button>
            </li>
            <!-- <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-address-tab" data-bs-toggle="pill" data-bs-target="#pills-address"
                type="button" role="tab">
                <i data-feather="map-pin"></i>Địa chỉ
              </button>
            </li> -->
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-profile-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-profile"
                type="button"
                role="tab"
              >
                <i data-feather="user"></i> Hồ sơ
              </button>
            </li>
            <li
              class="nav-item"
              role="presentation"
              ng-controller="LoginController"
            >
              <button class="nav-link" ng-click="logout()">
                <i data-feather="shield"></i> Đăng xuất
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xxl-9 col-lg-8">
        <button
          class="btn left-dashboard-show btn-animation btn-md fw-bold d-block mb-4 d-lg-none"
        >
          Show Menu
        </button>
        <div class="dashboard-right-sidebar">
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-dashboard"
              role="tabpanel"
            >
              <div class="dashboard-home">
                <div class="title">
                  <h2>Trang tổng quan của tôi</h2>
                  <span class="title-leaf">
                    <svg class="icon-width bg-gray">
                      <use xlink:href="../assets/svg/leaf.svg#leaf"></use>
                    </svg>
                  </span>
                </div>

                <div class="dashboard-user-name">
                  <h6 class="text-content">
                    Xin Chào, <b class="text-title">{{userData.fullName}}</b>
                  </h6>
                  <!-- <p class="text-content">
                    Bảng điều khiển tài khoản của tôi
                  </p> -->
                </div>
                <div class="total-box">
                  <div class="row g-sm-4 g-3">
                    <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                      <div class="total-contain">
                        <img
                          src="../assets/images/svg/order.svg"
                          class="img-1 blur-up lazyload"
                          alt=""
                        />
                        <img
                          src="../assets/images/svg/order.svg"
                          class="blur-up lazyload"
                          alt=""
                        />
                        <div class="total-detail">
                          <h5>Hóa Đơn Đã Mua</h5>
                          <h3>3658</h3>
                        </div>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                      <div class="total-contain">
                        <img
                          src="../assets/images/svg/pending.svg"
                          class="img-1 blur-up lazyload"
                          alt=""
                        />
                        <img
                          src="../assets/images/svg/pending.svg"
                          class="blur-up lazyload"
                          alt=""
                        />
                        <div class="total-detail">
                          <h5>Hóa Đơn Đang Chờ Thanh Toán</h5>
                          <h3>{{isPayment ? 1 : 0}}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 
                <div class="dashboard-title">
                  <h3>Thông tin tài khoản</h3>
                </div>

                <div class="row g-4">
                  <div class="col-xxl-6">
                    <div class="dashboard-content-title">
                      <h4>
                        Thông tin liên hệ
                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#editProfile">Edit</a>
                      </h4>
                    </div>
                    <div class="dashboard-detail">
                      <h6 class="text-content">MARK JECNO</h6>
                      <h6 class="text-content">{{userData.email}}</h6>
                      <a data-bs-toggle="modal" data-bs-target="#changePassword" href="javascript:void(0)">Change
                        Password</a>
                    </div>
                  </div>


                </div> -->
              </div>
            </div>
            <div class="tab-pane fade" id="pills-order" role="tabpanel">
              <div class="dashboard-order">
                <div class="title">
                  <h2>Hoá Đơn Của Tôi</h2>
                  <span class="title-leaf title-leaf-gray">
                    <svg class="icon-width bg-gray">
                      <use xlink:href="../assets/svg/leaf.svg#leaf"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <div class="table-container table-responsive">
                <table class="table table-striped table-hover custom-table">
                  <thead class="thead-dark">
                    <tr>
                      <th>Mã Hóa Đơn</th>
                      <th>Tên Khách Hàng</th>
                      <th>Tên Người Bán</th>
                      <th>Ngày Tạo</th>
                      <th>Phương Thức Thanh Toán</th>
                      <th>Voucher</th>
                      <th>Trạng Thái</th>
                      <th>Thao Tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="invoice in userInvoices">
                      <td data-label="Mã Hóa Đơn">{{invoice.invoiceCode}}</td>
                      <td data-label="Tên Khách Hàng">{{invoice.nguoiMua}}</td>
                      <td data-label="Tên Người Bán">
                        {{invoice.nguoiBan == null ? "Nhân Viên" :
                        invoice.nguoiBan}}
                      </td>
                      <td data-label="Ngày Tạo">{{invoice.ngayTao}}</td>
                      <td data-label="Phương Thức Thanh Toán">
                        {{invoice.paymentmethod}}
                      </td>
                      <td data-label="Voucher">{{invoice.voucherCode}}</td>
                      <td data-label="Trạng Thái">
                        <span
                          class="badge"
                          ng-class="{
                            'badge-warning': invoice.trangThai == 335,
                            'badge-primary': invoice.trangThai == 334,
                            'badge-danger': invoice.trangThai == 336,
                            'badge-info': invoice.trangThai == 337,
                            'badge-success': invoice.trangThai == 338,
                            'badge-pink': invoice.trangThai == 301
                          }"
                        >
                          {{ invoice.trangThai == 335 ? "Chờ Thanh Toán" :
                          invoice.trangThai == 334 ? "Chờ Giao Hàng" :
                          invoice.trangThai == 336 ? "Đã Hủy" :
                          invoice.trangThai == 337 ? "Hoàn Tiền" :
                          invoice.trangThai == 338 ? "Hoàn Thành" :
                          invoice.trangThai == 301 ? "Chờ Duyệt Đơn":"Trạng Thái
                          Không Xác Định" }}
                        </span>
                      </td>
                      <td data-label="Thao Tác">
                        <button
                          class="btn btn-secondary btn-sm view-btn"
                          data-bs-toggle="modal"
                          data-bs-target="#optimized-invoice"
                          ng-click="getInvoiceDetailByUser(invoice)"
                        >
                          Xem Chi Tiết
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-log" role="tabpanel" ng-controller="LogController">
              <div class="dashboard-order">
                <div class="title text-center mb-4">
                  <h2 class="text-primary">Lịch sử Hệ Thống</h2>
                  <span class="title-leaf title-leaf-gray">
                <svg class="icon-width bg-gray">
                    <use xlink:href="../assets/svg/leaf.svg#leaf"></use>
                </svg>
            </span>
                </div>
              </div>
              <div class="table-container table-responsive">
                <table class="table table-striped table-hover custom-table shadow-sm">
                  <thead class="thead-dark">
                  <tr>
                    <th class="text-center">Người thực hiện</th>
                    <th class="text-center">Hành động</th>
                    <th class="text-center">Thời gian</th>
                    <th class="text-center">Chi tiết</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="log in systemLogs" class="align-middle">
                    <td data-label="Người thực hiện" class="text-center">{{log.user.username}}</td>
                    <td data-label="Hành động" class="text-center">{{log.action}}</td>
                    <td data-label="Thời gian" class="text-center">{{ log.created_at | date:'dd-MM-yyyy|HH:mm:ss' : '+0000' }}</td>
                    <td data-label="Chi tiết" class="text-center">{{log.description}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="pagination-container d-flex justify-content-between align-items-center mt-4">
                <button class="btn btn-outline-primary"
                        ng-click="changePage(page.number - 1)"
                        ng-disabled="page.number === 0">
                  <i class="bi bi-arrow-left-circle"></i> Trước
                </button>
                <span class="fw-bold">Trang {{page.number + 1}} / {{page.totalPages}}</span>
                <button class="btn btn-outline-primary"
                        ng-click="changePage(page.number + 1)"
                        ng-disabled="page.number === page.totalPages - 1">
                  Tiếp <i class="bi bi-arrow-right-circle"></i>
                </button>
              </div>
            </div>



            <!-- <div class="tab-pane fade" id="pills-address" role="tabpanel">
              <div class="dashboard-address">
                <div class="title title-flex">
                  <div>
                    <h2>Địa Chỉ Của Tôi</h2>
                    <span class="title-leaf">
                      <svg class="icon-width bg-gray">
                        <use xlink:href="../assets/svg/leaf.svg#leaf"></use>
                      </svg>
                    </span>
                  </div>

                  <button class="btn theme-bg-color text-white btn-sm fw-bold mt-lg-0 mt-3" data-bs-toggle="modal"
                    data-bs-target="#add-address">
                    <i data-feather="plus" class="me-2"></i> Add New Address
                  </button>
                </div>

                <div class="row g-sm-4 g-3">
                  <div ng-repeat="x in deliveryAddress track by x.id">
                    <div class="address-box">
                      <div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="jack" id="flexRadioDefault2" checked />
                        </div>

                        <div class="label">
                          <label>Home</label>
                        </div>

                        <div class="table-responsive address-table">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td colspan="2">{{x.userName}}</td>
                              </tr>

                              <tr>
                                <td>Address :</td>
                                <td>
                                  <p>{{x.address}}</p>
                                </td>
                              </tr>
                              <tr>
                                <td>Phone :</td>
                                <td>{{x.phonenumber}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                      <div class="button-group">
                        <button class="btn btn-sm add-button w-100" data-bs-toggle="modal"
                          data-bs-target="#editProfile">
                          <i data-feather="edit"></i> Edit
                        </button>
                        <button class="btn btn-sm add-button w-100" ng-click="removeAddress(x.id)">
                          <i data-feather="trash-2"></i> Remove
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="tab-pane fade" id="pills-profile" role="tabpanel">
              <div class="dashboard-profile">
                <div class="title">
                  <h2>My Profile</h2>
                  <span class="title-leaf">
                    <svg class="icon-width bg-gray">
                      <use xlink:href="../assets/svg/leaf.svg#leaf"></use>
                    </svg>
                  </span>
                </div>

                <div class="profile-detail dashboard-bg-box">
                  <!-- <div class="dashboard-title">
                    <h3>Profile Name</h3>
                  </div> -->
                  <!-- <div class="profile-name-detail">
                    <div class="d-sm-flex align-items-center d-block">
                      <h3>{{userData.fullName}}</h3>
                      <div class="product-rating profile-rating">
                        <ul class="rating">
                          <li>
                            <i data-feather="star" class="fill"></i>
                          </li>
                          <li>
                            <i data-feather="star" class="fill"></i>
                          </li>
                          <li>
                            <i data-feather="star" class="fill"></i>
                          </li>
                          <li>
                            <i data-feather="star"></i>
                          </li>
                          <li>
                            <i data-feather="star"></i>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#editProfile">Edit</a>
                  </div> -->

                  <!-- <div class="location-profile">
                    <ul>
                      <li>
                        <div class="location-box">
                          <i data-feather="map-pin"></i>
                          <h6>Downers Grove, IL</h6>
                        </div>
                      </li>

                      <li>
                        <div class="location-box">
                          <i data-feather="mail"></i>
                          <h6>{{userData.email}}</h6>
                        </div>
                      </li>

                      <li>
                        <div class="location-box">
                          <i data-feather="check-square"></i>
                          <h6>Licensed for 2 years</h6>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="profile-description">
                    <p>
                      Residences can be classified by and how they are connected
                      to neighbouring residences and land. Different types of
                      housing tenure can be used for the same physical type.
                    </p>
                  </div> -->
                </div>

                <div class="profile-about dashboard-bg-box">
                  <div class="row">
                    <div class="col-xxl-7">
                      <div class="dashboard-title mb-3">
                        <h3>Profile About</h3>
                      </div>

                      <div>
                        <table class="table">
                          <tbody>
                            <tr>
                              <td>Full Name :</td>
                              <td>
                                <a>{{userData.fullName}}</a>
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>Email :</td>
                              <td>
                                <a>{{userData.email}}</a>
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                Phone Number :
                                <a href="javascript:void(0)">
                                  <span
                                    data-bs-toggle="modal"
                                    data-bs-target="#add-phoneNumber"
                                  >
                                    {{userData.phoneNumber ? 'Edit' : 'Add'}}
                                  </span>
                                </a>
                              </td>
                              <td>
                                <a href="javascript:void(0)">
                                  {{userData.phoneNumber ? userData.phoneNumber
                                  : 'No phone number'}}
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Address :
                                <a class="address" href="javascript:void(0)">
                                  <span
                                    data-bs-toggle="modal"
                                    data-bs-target="#add-address"
                                  >
                                    {{userData.address ? 'Edit' : 'Add'}}
                                  </span>
                                </a>
                              </td>
                              <td>
                                <a href="javascript:void(0)">
                                  {{userData.address ? userData.address : 'No
                                  address'}}
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td>Registration Date :</td>
                              <td>
                                <a>{{userData.registrationDate}}</a>
                              </td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="dashboard-title mb-3">
                        <h3>Login Details</h3>
                      </div>

                      <div class="table-responsive">
                        <table class="table">
                          <tbody>
                            <tr>
                              <a
                                data-bs-toggle="modal"
                                data-bs-target="#changePassword"
                                href="javascript:void(0)"
                                >Change Password</a
                              >
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="col-xxl-5">
                      <div class="profile-image">
                        <img
                          src="../assets/images/inner-page/dashboard-profile.png"
                          class="img-fluid blur-up lazyload"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- User Dashboard Section End -->

<!-- Footer Section Start -->

<!-- Tap to top and theme setting button end -->

<!-- Bg overlay Start -->
<div class="bg-overlay"></div>
<!-- Bg overlay End -->

<!-- Add address modal box start -->
<div class="modal fade theme-modal" id="add-address" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new address</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <!-- Dropdown for Tỉnh -->
        <div class="form-group mb-3">
          <label for="tinhSelect">Tỉnh Thành</label>
          <select
            id="tinhSelect"
            class="form-control css_select"
            ng-model="selectedTinh"
            ng-change="loadQuan(); getTinhName()"
            ng-options="tinh.id as tinh.full_name for tinh in tinhs"
          >
            <option value="">Chọn Tỉnh Thành</option>
          </select>
          <span ng-if="tinhName" class="d-block mt-1 text-secondary"
            >Tên Tỉnh: {{ tinhName }}</span
          >
        </div>

        <!-- Dropdown for Quận -->
        <div class="form-group mb-3">
          <label for="quanSelect">Quận Huyện</label>
          <select
            id="quanSelect"
            class="form-control css_select"
            ng-model="selectedQuan"
            ng-change="loadPhuong(); getQuanName()"
            ng-options="quan.id as quan.full_name for quan in quans"
          >
            <option value="">Chọn Quận Huyện</option>
          </select>
          <span ng-if="quanName" class="d-block mt-1 text-secondary"
            >Tên Quận: {{ quanName }}</span
          >
        </div>

        <!-- Dropdown for Phường -->
        <div class="form-group mb-3">
          <label for="phuongSelect">Phường Xã</label>
          <select
            id="phuongSelect"
            class="form-control css_select"
            ng-model="selectedPhuong"
            ng-change="getPhuongName()"
            ng-options="phuong.id as phuong.full_name for phuong in phuongs"
          >
            <option value="">Chọn Phường Xã</option>
          </select>
        </div>

        <!-- Địa Chỉ Chi Tiết -->
        <form>
          <div class="form-floating mb-4 theme-form-floating">
            <input
              type="text"
              class="form-control"
              id="detailAddress"
              ng-model="detailAddress"
              placeholder=" "
            />
            <label for="detailAddress">Địa Chỉ Chi Tiết</label>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-md"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          class="btn theme-bg-color btn-md text-white"
          data-bs-dismiss="modal"
          ng-click="addAdress()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Add address modal box end -->
<div class="modal fade theme-modal" id="add-phoneNumber" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Phone Number</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      <div class="modal-body">
        <!-- Nhập Số Điện Thoại -->
        <form>
          <div class="form-floating mb-4 theme-form-floating">
            <input
              type="text"
              class="form-control"
              id="phonenumber"
              ng-model="phonenumber"
              placeholder=" "
            />
            <label for="phonenumber">Add Phone Number</label>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-md"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          class="btn theme-bg-color btn-md text-white"
          data-bs-dismiss="modal"
          ng-click="addPhoneNumber()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Location Modal Start -->
<!-- <div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">
          Choose your Delivery Location
        </h5>
        <p class="mt-1 text-content">
          Enter your address and we will specify the offer for your area.
        </p>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="location-list">
          <div class="search-input">
            <input type="search" class="form-control" placeholder="Search Your Area" />
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>

          <div class="disabled-box">
            <h6>Select a Location</h6>
          </div>

          <ul class="location-select custom-height">
            <li>
              <a href="javascript:void(0)">
                <h6>Alabama</h6>
                <span>Min: $130</span>
              </a>
            </li>

            <li>
              <a href="javascript:void(0)">
                <h6>Arizona</h6>
                <span>Min: $150</span>
              </a>
            </li>

            <li>
              <a href="javascript:void(0)">
                <h6>California</h6>
                <span>Min: $110</span>
              </a>
            </li>

            <li>
              <a href="javascript:void(0)">
                <h6>Colorado</h6>
                <span>Min: $140</span>
              </a>
            </li>

            <li>
              <a href="javascript:void(0)">
                <h6>Florida</h6>
                <span>Min: $160</span>
              </a>
            </li>

            <li>
              <a href="javascript:void(0)">
                <h6>Georgia</h6>
                <span>Min: $120</span>
              </a>
            </li>

            <li>
              <a href="javascript:void(0)">
                <h6>Kansas</h6>
                <span>Min: $170</span>
              </a>
            </li>

            <li>
              <a href="javascript:void(0)">
                <h6>Minnesota</h6>
                <span>Min: $120</span>
              </a>
            </li>

            <li>
              <a href="javascript:void(0)">
                <h6>New York</h6>
                <span>Min: $110</span>
              </a>
            </li>

            <li>
              <a href="javascript:void(0)">
                <h6>Washington</h6>
                <span>Min: $130</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Location Modal End -->

<!-- Edit Profile Start -->
<!-- <div class="modal fade theme-modal" id="editProfile" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Edit Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row g-4">
          <div class="col-xxl-12">
            <form>
              <div class="form-floating theme-form-floating">
                <input type="text" class="form-control" id="pname" value="Jack Jennas" />
                <label for="pname">Full Name</label>
              </div>
            </form>
          </div>
          <div class="col-xxl-12">
            <form>
              <div class="form-floating theme-form-floating">
                <input type="text" class="form-control" id="pname" value="Jack Jennas" />
                <label for="pname">Full Name</label>
              </div>
            </form>
          </div>
          <div class="col-xxl-12">
            <form>
              <div class="form-floating theme-form-floating">
                <input type="text" class="form-control" id="pname" value="Jack Jennas" />
                <label for="pname">Full Name</label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" data-bs-dismiss="modal" class="btn theme-bg-color btn-md fw-bold text-light">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div> -->
<div
  class="modal fade theme-modal"
  id="changePassword"
  tabindex="-1"
  ng-controller="LoginController"
>
  <div
    class="modal-dialog modal-lg modal-dialog-centered modal-fullscreen-sm-down"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Thay đổi mật khẩu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row g-4">
          <div class="col-xxl-12">
            <div class="form-floating theme-form-floating">
              <input
                type="password"
                class="form-control"
                ng-model="currentPassword"
                placeholder="Current Password"
              />
              <label for="currentPassword">Mật khẩu hiện tại</label>
            </div>
          </div>
          <div class="col-xxl-12">
            <div class="form-floating theme-form-floating">
              <input
                type="password"
                class="form-control"
                ng-model="newPassword"
                placeholder="New Password"
              />
              <label for="newPassword">Mật khẩu mới</label>
            </div>
          </div>
          <div class="col-xxl-12">
            <div class="form-floating theme-form-floating">
              <input
                type="password"
                class="form-control"
                ng-model="confirmNewPassword"
                placeholder="Confirm New Password"
              />
              <label for="confirmNewPassword">Xác nhận mật khẩu mới</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-animation btn-md fw-bold"
          data-bs-dismiss="modal"
        >
          Đóng
        </button>
        <button
          type="button"
          class="btn theme-bg-color btn-md fw-bold text-light"
          ng-click="changePassword()"
        >
          Lưu thay đổi
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Profile End -->

<!-- Edit Card Start -->
<div class="modal fade theme-modal" id="editCard" tabindex="-1">
  <div
    class="modal-dialog modal-lg modal-dialog-centered modal-fullscreen-sm-down"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel8">Edit Card</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row g-4">
          <div class="col-xxl-6">
            <form>
              <div class="form-floating theme-form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="finame"
                  value="Mark"
                />
                <label for="finame">First Name</label>
              </div>
            </form>
          </div>

          <div class="col-xxl-6">
            <form>
              <div class="form-floating theme-form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="laname"
                  value="Jecno"
                />
                <label for="laname">Last Name</label>
              </div>
            </form>
          </div>

          <div class="col-xxl-4">
            <form>
              <div class="form-floating theme-form-floating">
                <select class="form-select" id="floatingSelect12">
                  <option selected>Card Type</option>
                  <option value="kingdom">Visa Card</option>
                  <option value="states">MasterCard Card</option>
                  <option value="fra">RuPay Card</option>
                  <option value="china">Contactless Card</option>
                  <option value="spain">Maestro Card</option>
                </select>
                <label for="floatingSelect12">Card Type</label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-animation btn-md fw-bold"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn theme-bg-color btn-md fw-bold text-light"
        >
          Update Card
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Edit Card End -->

<!-- Remove Profile Modal Start -->
<!-- <div class="modal fade theme-modal remove-profile" id="removeProfile" tabindex="-1">

  
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header d-block text-center">
        <h5 class="modal-title w-100" id="exampleModalLabel22">
          Are You Sure ?
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="remove-box">
          <p>
            The permission for the use/group, preview is inherited from the
            object, object will create a new permission for this object
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">
          No
        </button>
        <button type="button" class="btn theme-bg-color btn-md fw-bold text-light" data-bs-target="#removeAddress"
          data-bs-toggle="modal">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade theme-modal remove-profile" id="removeAddress" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="remove-box text-center">
          <h4 class="text-content">It's Removed.</h4>
        </div>
      </div>
      <div class="modal-footer pt-0">
        <button type="button" class="btn theme-bg-color btn-md fw-bold text-light" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade theme-modal" id="optimized-invoice" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Chi Tiết Hóa Đơn</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      <div class="modal-body">
        <div class="mb-3">
          <strong>Số Hóa Đơn:</strong>
          <span id="invoiceNumber">{{invoice.invoiceCode}}</span><br />
          <strong>Ngày Tạo Hóa Đơn:</strong>
          <span id="invoiceDate">{{invoice.ngayTao}}</span><br />
          <strong>Địa Chỉ Nhận Hàng:</strong>
          <span id="">{{invoice.deliveryaddress}}</span><br />
          <strong>Số Điện Thoại:</strong>
          <span id="">{{invoice.phonenumber}}</span><br />
          <strong>Tổng Số Tiền:</strong>
          <span id="amount"
            >{{invoice.tongTien+invoice.sotienGiamGia | number:''}} VNĐ</span
          ><br />
          <strong>Số Tiền Được Giảm:</strong>
          <span id="invoiceDate">{{invoice.sotienGiamGia | number:''}} VNĐ</span
          ><br />
          <strong>Số Tiền Phải Thanh Toán:</strong>
          <span id="invoiceDate">{{invoice.tongTien | number:''}} VNĐ</span
          ><br />
          <strong>Phương Thức Thanh Toán:</strong>
          <span id="description">{{invoice.paymentmethod}}</span><br />
        </div>

        <h6>Chi Tiết Sản Phẩm:</h6>
        <table class="table">
          <thead>
            <tr>
              <th>Tên Sản Phẩm</th>
              <th>Số Lượng</th>
              <th>Giá</th>
              <th>Tổng</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in invoiceDetails">
              <td data-label="Tên Sản Phẩm">
                {{x.packagingunitname}} {{x.milkTypename}} {{x.milkbrandname}}
                {{x.milktastename}} {{x.capacity}} {{x.unit}}
              </td>
              <td data-label="Số Lượng">{{x.quantity}}</td>
              <td data-label="Giá">{{x.price | number:''}} VNĐ</td>
              <td data-label="Tổng">{{x.totalprice | number:''}} VNĐ</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Đóng
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          ng-hide="invoice.trangThai != 335"
          ng-click="payment(invoice.tongTien,invoice.invoiceCode)"
        >
          Thanh Toán
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          ng-hide="invoice.trangThai != 335"
          ng-click="cancelInvoice(invoice.invoiceID)"
        >
          Hủy Đơn Hàng
        </button>
      </div>
    </div>
  </div>
</div>
